{% extends 'base.html' %}

{% block title %}
О нас
{% endblock %}

{% block nav %}
<li class="nav-item"><a href="/" class="nav-link">Главня</a></li>
<li class="nav-item"><a href="jackets" class="nav-link">Куртки</a></li>
<li class="nav-item"><a href="pants" class="nav-link">Штаны</a></li>
<li class="nav-item"><a href="shoes" class="nav-link">Обувь</a></li>
{% endblock %}

{% block content %}
<h1 class="text-center">
    Это страница о нас
</h1>
<h2 class="text-center">
    Меню, подвал и основная часть страниц: куртки, штаны, обувь, взяты с сайта <a href="https://getbootstrap.com/docs/5.3/examples/">Bootstrap</a>
</h2>
<p>
    Вообще особо обо мне нечего рассказать.
</p>
<p>
    Работаю, учусь, делаю сайты для ДЗ и ботов для себя.
</p>
{% endblock %}

{% block footer %}
<li class="nav-item"><a href="/" class="nav-link px-2 text-white">Главная</a></li>
<li class="nav-item"><a href="about" class="nav-link px-2 text-white">О нас</a></li>
<li class="nav-item"><a href="contacts" class="nav-link px-2 text-white">Контакты</a></li>
{% endblock %}