{% extends 'base.html' %}

{% block title %}
Контакты
{% endblock %}

{% block nav %}
<li class="nav-item"><a href="/" class="nav-link">Главня</a></li>
<li class="nav-item"><a href="jackets" class="nav-link">Куртки</a></li>
<li class="nav-item"><a href="pants" class="nav-link">Штаны</a></li>
<li class="nav-item"><a href="shoes" class="nav-link">Обувь</a></li>
{% endblock %}

{% block content %}
<h1 class="text-center">
    Эта страница с контактыми
</h1>
<p>
    Электронная почта: egfsiakwf@sgsegf.com
</p>
<p>
    Телефон: +7 (987) 654 32-10
</p>
<p>
    Телеграм: <a href="https://t.me/gromhrezite_bot">https://t.me/gromhrezite_bot</a>
</p>
{% endblock %}

{% block footer %}
<li class="nav-item"><a href="/" class="nav-link px-2 text-white">Главная</a></li>
<li class="nav-item"><a href="about" class="nav-link px-2 text-white">О нас</a></li>
<li class="nav-item"><a href="contacts" class="nav-link px-2 text-white">Контакты</a></li>
{% endblock %}