{% extends 'base.html' %}

{% block title %}
Штаны
{% endblock %}

{% block nav %}
<li class="nav-item"><a href="/" class="nav-link">Главня</a></li>
<li class="nav-item"><a href="jackets" class="nav-link">Куртки</a></li>
<li class="nav-item"><a href="pants" class="nav-link active" aria-current="page">Штаны</a></li>
<li class="nav-item"><a href="shoes" class="nav-link">Обувь</a></li>
{% endblock %}

{% block content %}
<div class="album py-5">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                 role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <image xlink:href="http://pix.bonprix.pl/imgc/0/0/1/6/2/3/8/6/6/4/_960/16238664/bryuki-chinosy-regular-fit-straight-chernyj.jpg"
                     height="100%" width="100%"></image>
            </svg>
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Morbi at elementum mauris, ut.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Просмотр</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Купить</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                 role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <image xlink:href="https://images-eu.ssl-images-amazon.com/images/I/31zY5DwhVhL._UL1000_.jpg"
                     height="100%" width="100%"></image>
            </svg>
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacinia diam ut turpis
                  auctor sagittis. Ut fringilla.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Просмотр</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Купить</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                 role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
              <image xlink:href="https://diamondelectric.ru/images/833/832260/bruki_nike_1.jpg"
                     height="100%" width="100%"></image>
            </svg>
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam venenatis leo
                  ut tincidunt bibendum. Sed.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Просмотр</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Купить</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
<li class="nav-item"><a href="/" class="nav-link px-2 text-white">Главная</a></li>
<li class="nav-item"><a href="about" class="nav-link px-2 text-white">О нас</a></li>
<li class="nav-item"><a href="contacts" class="nav-link px-2 text-white">Контакты</a></li>
{% endblock %}